datasets/HR_Onboarding_workflow.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets Trigger').item.json.email }}",
        "subject": "= {{ $('Google Sheets Trigger').item.json.name }}– 첫 출근 일정 & 안내",
        "message": "=<p> {{ $('Google Sheets Trigger').item.json.name }}님, 입사를 축하드립니다!<br>첫 날 일정은 캘린더로 전달드렸어요 😊 </p> ",
        "options": {}
      },
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "954d8687-a4bb-4f6d-83bb-dbc88606e328",
      "webhookId": "4e4deacf-20aa-4ace-9d57-eea655f10d69",
      "credentials": {
        "gmailOAuth2": {
          "id": "A3lmh2Vy2Sz5sxUC",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "12HW5o4h33TzZhw9_IUbpEVjOuAcYCWoVaE_hNCNU8LM",
          "mode": "list",
          "cachedResultName": "Hires",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12HW5o4h33TzZhw9_IUbpEVjOuAcYCWoVaE_hNCNU8LM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "NewHires",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12HW5o4h33TzZhw9_IUbpEVjOuAcYCWoVaE_hNCNU8LM/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b42fc55d-e194-4e60-9805-c7b90cd0b932",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "m8a0Fuo3i19QMvsO",
          "name": "Google Sheets Trigger account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "c_cd41dab660ddd86e238a3c9bbe393abcd5c032d3c0cdc8df25d8b619721889d9@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Onboarding@HR"
        },
        "start": "={{ $('Google Sheets Trigger').item.json.startdate }}T10:00:00+09:00",
        "end": "={{ $('Google Sheets Trigger').item.json.startdate }}T11:00:00+09:00",
        "additionalFields": {
          "attendees": [
            "={{ $('Google Sheets Trigger').item.json.email }}"
          ],
          "description": "환영합니다! HR 팀과 Company Overview 세션.",
          "sendUpdates": "all",
          "summary": "=Orientation – {{ $('Google Sheets Trigger').item.json.name }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        460,
        0
      ],
      "id": "778bdb92-3e1a-4b8f-b206-76550103f06b",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "wA8WTLHJAfSb1W7L",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12HW5o4h33TzZhw9_IUbpEVjOuAcYCWoVaE_hNCNU8LM",
          "mode": "list",
          "cachedResultName": "Hires",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12HW5o4h33TzZhw9_IUbpEVjOuAcYCWoVaE_hNCNU8LM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "NewHires",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12HW5o4h33TzZhw9_IUbpEVjOuAcYCWoVaE_hNCNU8LM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "startdate",
              "displayName": "startdate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "start",
              "displayName": "start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "end",
              "displayName": "end",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "attendees",
              "displayName": "attendees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "creator",
              "displayName": "creator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "organizer",
              "displayName": "organizer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created",
              "displayName": "created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated",
              "displayName": "updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "etag",
              "displayName": "etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "eventType",
              "displayName": "eventType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "htmlLink",
              "displayName": "htmlLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "iCalUID",
              "displayName": "iCalUID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kind",
              "displayName": "kind",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reminders",
              "displayName": "reminders",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sequence",
              "displayName": "sequence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        680,
        0
      ],
      "id": "753ddb74-2391-41d5-a1a9-70ca998177d3",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9jmv8wpDYOjvnkgD",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bb93003c-b886-423d-9f41-33db28d42cb3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "15facf83ff93cb5fd04eaa5ea24464ff8dbe38b18eb0c8e7b3d05a0fa9f87a7d"
  },
  "id": "Q9NODR7MUZGPYPnn",
  "tags": []
}